@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{

  font-family:'Poppins',sans-serif;

  color:white;

  overflow-x:hidden;

  background:
  radial-gradient(circle at top left,#6d28d9 0%,transparent 30%),
  radial-gradient(circle at bottom right,#ec4899 0%,transparent 25%),
  linear-gradient(135deg,#050816,#0f172a,#111827);

  min-height:100vh;

}

#root{
  min-height:100vh;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#7b61ff;
  border-radius:10px;
}

::-webkit-scrollbar-track{
  background:#0f172a;
}

::selection{
  background:#ff4d8d;
  color:white;
}